APP_MONGO_URI=mongodb://localhost:27017/
APP_SPLUNK_SERVER_URL=https://splunk.asdf
APP_SPLUNK_QUERY_TEMPLATE="index=net-fw
| stats count, values(dest_port) as ports by src_ip dest_ip rule date
| eval ports=mvjoin(ports,":")"
APP_LAST_N_DAYS=30
