APP_MONGO_URI=mongodb://localhost:27017/
APP_SPLUNK_SERVER_URL=https://splunk.asdf
APP_SPLUNK_QUERY_TEMPLATE="index=net-fw | stats count by src_ip dest_ip dest_port rule date"
APP_LAST_N_DAYS=30
APP_SPLUNK_USERNAME=
APP_SPLUNK_PASSWORD=
APP_SPLUNK_PORT=8089
APP_SPLUNK_VERIFY_SSL=false
APP_SPLUNK_POLL_INTERVAL=5
